extends layout

block content
  h1= title
  .container-fluid
    .row
      - for (let item of results)
        .col-sm-2
          p Organization Name: #{item.organizationName}
          p Location: #{item.location}
          p Industry: #{item.industry}
          p Number of Employees: #{item.numberOfEmployees}
          p Revenue: #{item.revenue}
          p Website: #{item.website}
  br
  h3= 'Buy'

  div(class="container-fluid")
    each item,index in results
      div(class="row", onclick=`buy(${index})`)
        div(class="col-sm-2") <br>organization #{index}: #{item.organizationName} Location: #{item.location} Industry: #{item.industry} Number of Employees: #{item.numberOfEmployees} Revenue: #{item.revenue} Website: #{item.website}
  script.
        function buy(p){
          alert('You clicked Organization ' + p)       
        }